HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Frontend/Neon ###
frontend/neon/node_modules
frontend/neon/.pnp
frontend/neon/.pnp.*
frontend/neon/.yarn/*
!frontend/neon/.yarn/patches
!frontend/neon/.yarn/plugins
!frontend/neon/.yarn/releases
!frontend/neon/.yarn/versions
frontend/neon/coverage
frontend/neon/.next/
frontend/neon/out/
frontend/neon/build
frontend/neon/.DS_Store
frontend/neon/*.pem
frontend/neon/npm-debug.log*
frontend/neon/yarn-debug.log*
frontend/neon/yarn-error.log*
frontend/neon/.pnpm-debug.log*
frontend/neon/.env*
frontend/neon/.vercel
frontend/neon/*.tsbuildinfo
frontend/neon/next-env.d.ts